.page-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 415px;
  height: 600px;
  background-image: linear-gradient(#21202d, #201e2a);
  position: relative;
}
